########################
# Environment & Secrets
########################
.env
.env.*
!.env.example
.env.backup
.env.production
/auth.json
/storage/*.key

########################
# Logs & Cache
########################
*.log
.phpunit.result.cache
/.phpunit.cache

########################
# Dependencies
########################
/node_modules
/vendor

########################
# Laravel Generated
########################
/public/build
/public/hot
/public/storage
/storage/pail

########################
# IDE & OS
########################
.DS_Store
Thumbs.db
/.vscode
/.idea
/.fleet
/.nova
/.zed
.phpactor.json

########################
# Homestead
########################
Homestead.json
Homestead.yaml

########################
# Docker
########################
docker-compose.override.yml

########################
# Terraform (if used)
########################
.terraform/
*.tfstate
*.tfstate.backup

########################
# Grafana (if local)
########################
grafana_data/
