groups:
  - name: docker-alerts
    rules:

    - alert: ContainerDown
      expr: absent(container_last_seen)
      for: 30s
      labels:
        severity: critical
      annotations:
        summary: "A container is down"
        description: "One or more Docker containers stopped running."

    - alert: HighContainerCPU
      expr: rate(container_cpu_usage_seconds_total[1m]) > 0.8
      for: 1m
      labels:
        severity: warning
      annotations:
        summary: "High container CPU usage"
        description: "Container CPU usage is above 80% for more than 1 minute."
